/* *{
    margin: 0px;
    padding: 0px;
}

.headerSectionMain {
    background-color: #3636b7;
}
.nameHead{
    color: white;
    margin-left: 10px;
}
.imagecontainer{
    width: 1519px;
    height: 670px;
}
.aboutContainer {
    width: 380px;
    height: 275px;
}
.aboutContent{
    
    margin-top: -500px;
    margin-left: 900px;
    width: 410px;
    color: #F9F9FF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 50px;
}
.imagecontainer{
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.AboutUsBtn{
    width: 150px;
    height: 40px;
    fill: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
    margin-left: 900px;
}
.AboutUsBtn:hover{
    background-color: #3636b7;
    color: white;
}

.searchContainer {
    background-color: #3636b7;
    margin-top: 131px;
}
.SearchMahal {
    width: 500px;
    height: 50px;
    text-align: center;
    font-weight: 400;
    border-radius: 10px 0px 0px 10px;
    border-style: none;
    font-size: larger;
    margin-top: 30px;
}
.formSearch {
    display: flex;
    flex-direction: row;
    margin-top: 56px;
    margin-right: 0px;
    justify-content: center;
    justify-content: space-around;
}
.searchbtn {
    width: 200px;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    border-style: none;
    margin-left: 1px;
    font-size: larger;
}
.searchbtn:hover{
    background-color: #3636b7;
    color: white;
    cursor: pointer;
}

.mahalname {
    color: white;
    margin-top: -126px;
    margin-right: 228px;
}
.mahalamount{
    color: white;
    margin-top: -126px;
    margin-right: 228px;
}
.mahalSeats{
    color: white;
    margin-top: -126px;
    margin-right: 228px;
}
.listContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
.viewmorebtn{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    font-size: larger;
    cursor: pointer;
}

.Container {
    margin-left: 130px;
    padding: 30px;
    background: #b3b3b342;
    height: 557px;
    width: 470px;
    margin-top: 47px;
    border-radius: 5px;
}
span.react-datepicker__year-read-view--down-arrow {
    margin-top: -3px;
}

button {
    width: 40px;
}
button:hover{
    background-color: #f80ea2;
    background-color: #3636b7;
    color: white;
    border-style: none;
    border-radius: 5px;
}

html{
    background-color: #3636b7;
}
span {
    color: #565656;
    margin-top: -100px;
    margin-right: 228px;
}
h2 {
    color: #565656;
    font-size: initial;
}
.searchbtn:hover {
    background-color: #e32337;
    color: white;
    cursor: pointer;
}
button.viewmorebtn:hover{
    background-color: #e32337;
    color: white;
} */


/* #515BBA */
.div-homepage{
    overflow: hidden;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
}
p.para-class-nav {
    padding: 6px;
    font-size: x-large;
    color: white;
    letter-spacing: 5px;
}
.main-bar-design {
    background-color: #515BBA;
    width: 1536px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
img.image-profile {
    border-radius: 46px;
    cursor: pointer;
    width: 38px;
    margin-right: 26px;
}


img.part-img {
    width: 1530px;
    height: 667px;
    /* opacity: .2; */
}

img.part-img::before {
    background: black; /* Black overlay color */
    opacity: 0.5; /* Opacity level (adjust as needed) */
}
form.from-search-mahals {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -335px;
    margin-left: 300px;
    gap: 1px;
}
input.input-district {
    width: 360px;
    height: 45px;
    border-style: none;
    font-size: large;
    cursor: pointer;
    background-color: white;
    border-radius: 5px 0px 0px 5px;
    outline: none;
    padding-left: 15px;
}
input.input-date {
    width: 360px;
    height: 45px;
    border-style: none;
    font-size: large;
    cursor: pointer;
    background-color: white;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
}
button.search-button {
    width: 140px;
    height: 45px;
    border: none;
    background-color: #515BBA;
    font-size: x-large;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: width 0.3s, height 0.3s;
}
button.search-button:hover {
    transform: scale(1.1);
}
.displaying-mahal-details {
    margin-top: 286px;
    background-color: #515BBA;
}
.mahal-detail{
    color: white;
}
h2.h2-display-availabe-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.span-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
p.search-para {
    position: absolute;
    margin-left: 300px;
    margin-top: -75px;
    font-size: x-large;
    color: wheat;
}
p.para-no-found {
    position: absolute;
    margin-left: 300px;
    margin-top: -75px;
    font-size: x-large;
    color: wheat;
}
button.viewmorebtn {
    width: 110px;
    height: 30px;
}
button.viewmorebtn {
    border-style: none;
    width: 110px;
    height: 30px;
    border-radius: 5px;
    background-color: #abb3ff78;
    cursor: pointer;
    color: white;
}

p.para-contemt {
    position: absolute;
    padding: 70px;
    font-size: 90px;
    font-weight: lighter;
    margin-left: 142px;
    color: white;
    margin-top: 55px;
}